{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/registration.css' %}">
{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!<br></strong> 
    {{ form.errors.as_text }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="{% static 'core/logo.png' %}" id="tfw-icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form action='{% url "login" %}' method="POST">
        {% csrf_token %}
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <div class="container">
          <div class="row">
            <div class="col-6">
                <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
            <div class="col-6">
                <a class="underlineHover" href="{% url 'users:signup' %}">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
{% endblock %}