{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/registration.css' %}">

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="{% static 'registration/logo.png' %}" id="tfw-icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form action='{% url "login" %}' method="POST">
        {% csrf_token %}
        <input type="password" id="password" class="fadeIn second" name="new_password1" placeholder="Your New Password">
        <input type="password" id="password_reset" class="fadeIn third" name="new_password2" placeholder="Confirm Your New Password">
        <input type="submit" class="fadeIn fourth" value="Change Password">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
      </div>
  
    </div>
  </div>
{% endblock %}