<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{% block title %}MileageTFW{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
  <script src="{% static 'core/js/jquery.min.js' %}"></script>

</head>
<body>
  <main>
      {% if request.path != '/app/' %}
      <div class="container-fluid p-0">
            <nav class="navbar navbar-default navbar-fixed-top background navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand-white" href="{% url 'core:index' %}">MileageTFW</a>
                    <button class="white-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="white-toggler navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'core:index' %}?new=1">New Entry</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'core:list' %}">All Entries</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'users:edit' %}">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
      </div>
       
        {% endif %}
        