{% extends 'core/base.html' %}

{% block content %}
{% if pay_periods %}
    <ul>
    {% for pay_period in pay_periods %}
        <h5>{{ pay_period.start_date }} -- {{ pay_period.end_date }}</h5>
        {% for entry in pay_period.entries %}
            <li>
                <a href="{% url 'core:detail' entry.id %}">{{ entry.destination }}</a><br>----------------<br>
                <a href="{% url 'core:edit' entry.id %}">Edit</a> | 
                <a href="{% url 'core:delete' entry.id %}">Delete</a>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>No entries are available.</p>
{% endif %}
<a href="{% url 'core:index'%}">Home</a>
{% endblock %}
