{% extends 'core/base.html' %}

{% block content %}
<div class="row">
        {% if pay_periods %}
        <div class="col-md-12">
            <div class="list-group">
                {% for pay_period in pay_periods %}
                <p class="lead mt-3">{{ pay_period.start_date }} -- {{ pay_period.end_date }}</p>
                {% for entry in pay_period.entries %}
                    <a href="{% url 'core:detail' entry.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ entry.destination }}</h5>
                            <small>{{ entry.miles_driven }} miles</small>
                        </div>
                    </a>
                    <div class="cold-md-2 mt-1 mb-4">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-primary" href="{% url 'core:edit' entry.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'core:delete' entry.id %}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        {% else %}
            <p>No entries are available.</p>
        </div>
        {% endif %}
</div>      
{% endblock %}
