{% extends 'core/base.html' %}

{% block content %}
<div class="container">
        <div class="row pt-4">
            <div class="col-md-12">
                <a class="btn btn-primary" href='{% url "core:index" %}'>Home</a>
            </div>
        </div>
    </div>
<h1>{{ pay_period_start }} - {{ pay_period_end }}</h1>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Entry Date</th>
            <th scope="col">Destination</th>
            <th scope="col">Notes</th>
            <th scope="col">Odometer Start</th>
            <th scope="col">Odometer End</th>
            <th scope="col">Mileage</th>
            <th scope="col">Reimbursement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for entry in sheet.entries %}
                <tr>
                {% for k,v in entry.items %}
                    <td>{{ v }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            <th scope="row">Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{sheet.total_mileage}} miles</td>
            <td>${{sheet.total_reimbursement}}</td>

          </tr>
        </tbody>
      </table>
{% endblock %}