{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!<br></strong> 
    {{ form.errors.as_text }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
  <div style="height: 100vh; width: 100%"class="background container-fluid px-5">
    <form class="signup-form" method="POST" action="{% url 'users:signup' %}">
      <div id="signup-text">Sign Me Up!</div>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-danger">Sign Up</button>
    </form>
  </div>
{% endblock %}